apache-airflow-providers-airbyte==3.9.0
dbt-sqlserver
dbt-snowflake
dbt-postgres
dbt-spark
PyGithub==2.3.0
soda-core-sqlserver==3.3.18
soda-core-snowflake==3.3.18
soda-core-postgres==3.3.18
acryl-datahub-airflow-plugin==0.14.0.2
acryl-datahub==0.14.0.2
--extra-index-url https://pypi.cloud.soda.io "soda-sqlserver"
--extra-index-url https://pypi.cloud.soda.io "soda-postgres"
--extra-index-url https://pypi.cloud.soda.io "soda-snowflake"


# might no need to reinstall all the dbt-images again if i am using custom dbt image